<!DOCTYPE html>
<html>

<head>
    <title>NLF</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" id="logo">
                Natural Language Finance
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            © 2019 Natural Language Finance. All Rights Reserved.
        </p>
    </div>
</footer>
</body>
</html>


<style>
    .button {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    #logo {
    font-size: 24px;
    }
    #plot {
        height: 400px;
    }
</style>